  /*header {
  background-color: #4267b2;
  height: 30px;
}
*/
/*footer {
  background-color: rgba(0,0,0,0.87);
  height: 30px;
}
*/
#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {
  height: 1700px;
}

#main { background-color: orange; }

#menu { background-color: pink; }

#sidebar { background-color: yellow; }

#main,
#menu,
#sidebar {
  background-color: #e9ebee;
}

#header {
    background-color: #4267b2;
    color: white;
}

#white-text {
  color: white;
}

.white-text {
  color: white !important;
}

#header ul .glyphicon {
    font-size: 20px;
}

.media-object{
	margin:0 10px 0 10px; 
	position:center;
	float:left;
}

.panel-title{
	margin:10px 0 0 0;
}
.btn{
	margin:0px 0px 0px -9px;
}
.fb-post {
	margin:10px 10px 10px 10px ;
	padding:0px;
}

.list-heading {
    padding: 20px 15px 0 15px;
}

.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}

.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}

.comment {
    margin: 0;
}

.profile {
	margin:0px -20px 0px 0px;
	padding:0px;
	width:36px;
}

